@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans serif;
}
body{
    background-image: url("../images/princess-zelda-4096x2306-27269.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
span{
    color: #000000;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #000000;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.input-field{
    display: flex;
    flex-direction: column;
}
.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #000000e0;
    padding: 0 0 0 42px;
    background: rgba(255, 255, 255, 0.773);
}
i{
    position: relative;
    top: -31px;
    left: 17px;
    color: #000000;
}
::-webkit-input-placeholder{
    color: #000000;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(229, 126, 255, 0.942);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(255, 255, 255, 0.753);
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #000000;
    margin-top: 10px;
}
.left{
    display: flex;
}
label a{
    color: #000000;
    text-decoration: none;
}

.navbar-nav .nav-item {
    margin-left: 10px;
  }
  
  .navbar-nav .navbar-text {
    font-weight: 500;
    color: #ffffff;
  }
  
  .navbar-nav .nav-link {
    font-weight: 500;
    color: #ffffff;
  }
  .nav-link-user {
    text-decoration: none; 
    font-size: 18px;
  }
  .nav-link-user:hover {
    text-decoration: underline; 
  }
  